<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funi.help.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.funi.help.po.UserInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="DECIMAL" />
    <result column="permission_status" property="permissionStatus" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="date_created" property="dateCreated" jdbcType="TIMESTAMP" />
    <result column="date_updated" property="dateUpdated" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="last_modifier_id" property="lastModifierId" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, real_name, login_name, role_id, password, email, country, mobile_phone, user_status, 
    permission_status, id_card, date_created, date_updated, creator_id, last_modifier_id, 
    deleted, organization_id, salt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.funi.help.po.UserInfo" >
    insert into user_info (id, real_name, login_name, 
      role_id, password, email, 
      country, mobile_phone, user_status, 
      permission_status, id_card, date_created, 
      date_updated, creator_id, last_modifier_id, 
      deleted, organization_id, salt
      )
    values (#{id,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{userStatus,jdbcType=DECIMAL}, 
      #{permissionStatus,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{dateCreated,jdbcType=TIMESTAMP}, 
      #{dateUpdated,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=VARCHAR}, #{lastModifierId,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=INTEGER}, #{organizationId,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.funi.help.po.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="permissionStatus != null" >
        permission_status,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="dateCreated != null" >
        date_created,
      </if>
      <if test="dateUpdated != null" >
        date_updated,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="lastModifierId != null" >
        last_modifier_id,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="salt != null" >
        salt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=DECIMAL},
      </if>
      <if test="permissionStatus != null" >
        #{permissionStatus,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null" >
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="dateUpdated != null" >
        #{dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="lastModifierId != null" >
        #{lastModifierId,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.funi.help.po.UserInfo" >
    update user_info
    <set >
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=DECIMAL},
      </if>
      <if test="permissionStatus != null" >
        permission_status = #{permissionStatus,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null" >
        date_created = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="dateUpdated != null" >
        date_updated = #{dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="lastModifierId != null" >
        last_modifier_id = #{lastModifierId,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.funi.help.po.UserInfo" >
    update user_info
    set real_name = #{realName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=DECIMAL},
      permission_status = #{permissionStatus,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      date_created = #{dateCreated,jdbcType=TIMESTAMP},
      date_updated = #{dateUpdated,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      last_modifier_id = #{lastModifierId,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      organization_id = #{organizationId,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>